* {
  box-sizing: border-box;
}

.flip-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
}

button {
  background: none;
  border: 2px solid rgb(59, 155, 233);
  padding: 12px 30px 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  color: white;
  z-index: 0;
  font-size: 12px;
  outline: none;
  margin: 5px;
}

button:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: rgb(163, 177, 241);
  transition: 0.2s;
  z-index: -1;
}
button:hover:before {
  height: 100%;
}
button:hover {
  cursor: pointer;
}

.button-flip {
  display: inline-flex;
}

.button-claim {
  background: white;
  border: 2px solid green;
  padding: 12px 30px 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  position: relative;
  color: black;
  z-index: 0;
  font-size: 12px;
  outline: none;
  margin: 5px;
}

.outcome {
  height: 200px;
  width: 200px;
  background: linear-gradient(180deg, #EADEDB 0%, #bae422 50%, #f89256 75%);;
  margin-bottom: 50px;
  border-radius: 50%;
  border-style: dotted;
  border-color: #270b0b;
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotateY(0deg) rotateX(0deg);
  transition: 1s;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  line-height: 0.8;
  color: #222;
  box-shadow: 0 0 30px black;
}
.outcome.flip {
  transition: 1s;
  transform: rotateY(720deg) rotateX(720deg);
}
.outcome.toss {
  -webkit-animation: toss 0.7s forwards ease-in-out;
          animation: toss 0.7s forwards ease-in-out;
}
.outcome:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 185px;
  width: 185px;
  display: block;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.outcome:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 190px;
  width: 190px;
  display: block;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

@-webkit-keyframes toss {
  0% {
    top: 0px;
  }
  50% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}

@keyframes toss {
  0% {
    top: 0px;
  }
  50% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}

body {
  background-image: url("https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg?t=st=1645730967~exp=1645731567~hmac=c064b28354d1b9f90f07c7e7240d735d1ae611bd886e0973bddd790331b3744d&w=1380");
  z-index: 0;
}

.mascot1 {
  position: sticky;
  top: 45rem;
  margin-top: -250px;
  left: 0rem;
  width: 200px;
  z-index: 1;
}


.img-banner {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.navbar {
  overflow: hidden;
  background-image: linear-gradient(70deg, #070505 0%, #4b4343 50%, #f9fbfd 75%);
  margin-top: 0px;
  margin-bottom: auto;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.bg-body {
  position:absolute;
  display: none;
  left:0px;
  top:0px;
  z-index: -1;
  opacity: 0.6;
}

.img-bg {
  position: relative;
  width: 70%;
  top: 30%;
  right: 20%;
  left: 100%;
}

.p-content {
    padding: 20px 10px;
    font-family: "Roboto Condensed";
    color: white;
    text-align: justify;
    margin: 10px 5px;
    font-size: 20px;
}

.menu-title {
    text-align: center;
    color: white;
    background-image: linear-gradient(70deg, #EADEDB 0%, #7c88f0 50%, #b0d4ec 75%);
  width: 30%;
  border: solid red 5px;
  border-radius: 20px;
  padding: 20px;
  margin-left: 35%;
  margin-right: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
  justify-content: center;
}

.p-form {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.img {
  border: solid white 15px;
  height: 400px;
  width: 300px;
  vertical-align: middle;
  border-radius: 10px;
  margin-left: 4%;
  margin-right: 4.8%;
  margin-top: 10%;
}

.flex-box {
  margin-left: 30px;
  text-align:center;
}

.rules {
  background-color: rgb(126, 125, 143);
  width: 80%;
  height: 10%;
  padding: 50px;
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 5%;
  opacity: 0.8;
}

.claim {
  padding: 0;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
text-align: center;
}

.logo {
height: 70px;
right: 3rem;
top: -15px;
position: absolute;
}

.middle-dock-content {
  background-color: rgb(126, 125, 143);
  width: 80%;
  padding: 50px;
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 5%;
  opacity: 0.8;
}

.lower-dock-content {
  background-image: linear-gradient(70deg, #EADEDB 0%, #9294a1 50%, #b0d4ec 75%);
  width: 30%;
  border: solid red 5px;
  border-radius: 20px;
  padding: 50px;
  margin-left: 35%;
  margin-right: 30%;
  margin-bottom: 5%;
  justify-content: center;
}

.mySlides {display:none;}

.footer-bawah {
  height: 30px;
  padding: 3px;
  border: solid black 3px;
  background-image: linear-gradient(140deg, #EADEDB 0%, #f0a212 50%, #BFD641 75%);
  color: black;
  text-align: center;
}


#claim-button1 {
left: 15%;
margin-top: 2%;
margin-bottom: 4%;
}

#claim-button2 {
  left: 29%;
  margin-top: 2%;
  margin-bottom: 4%;
  }

  #claim-button3 {
    left: 43.4%;
    margin-top: 2%;
    margin-bottom: 4%;
    }

#banner-content {
  width: 200%;
  padding: 50px;
}

#form-login {
    text-align: center;
}

#username {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto;
  height: 4%;
}

#deposit {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: auto;
  height: 4%;
  margin-top: 5px;
}

#submit-button {
  margin-top: 10px;
  background-color: rgb(231, 231, 146);
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 10px;
}

#banner {
  width: 200px;
  height: 700px;
  background: rgb(247, 243, 243);
  animation: mymove 4s infinite;
  border: red;
  border-width: 2px;
  margin-left: 30px;
  display: none;
}

@keyframes mymove {
  from {background-color: rgb(233, 245, 191);}
  to {background-color: rgb(128, 128, 223);}
}

@keyframes mymove {
  from {background-color: rgb(118, 235, 186);}
  to {background-color: rgb(197, 236, 89);}
}

#p-banner {
  text-align: center;
  vertical-align: center;
  line-height: 70px;
  padding: 5px 10px;
  color: white;
}

.box1 {
  background-color: transparent; 
  text-align: center;
  width: 20%;
  height: 50px;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: -1;
}

.box2 {
  background-color: #e4f5ef; 
  text-align: center;
  width: 10%;
  height: 50px;
  position: absolute;
  top: 30;
  right: 0;
}

.take-prize1 {
  display: none;
}

.take-prize2 {
  display: none;
}

.take-prize3 {
  display: none;
}

.box {
  background-color: transparent; 
  text-align: center;
  width: 20%;
  height: 50px;
  position: absolute;
  top: 10;
  right: 0;
  z-index: -1;
}

#user-id {
  background-color: whitesmoke;
  width: 80%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  border: 2px solid #2B303A;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
  text-align: center;
  font-size: 15px
}

#user-id2 {
  background-color: whitesmoke;
  width: 80%;
  height: 30px;
  margin-top: 2rem;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  border: 2px solid #2B303A;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
  text-align: center;
  font-size: 15px
}

#coin {
  background-color: whitesmoke;
  width: 80%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  border: 2px solid #2B303A;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
  text-align: center;
  font-size: 15px
}

#coin2 {
  background-color: whitesmoke;
  width: 80%;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  border: 2px solid #2B303A;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 36px;
  text-align: center;
  font-size: 15px;
}

#headsButton {
  justify-content: center;
  background-color: white;
}

#box-invincible {
  width: 50%;
}

#tailsButton {
  justify-content: center;
  background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif
 }

 /* body {
     background: #ecf0f3
 } */

 
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px gray;
}

::-webkit-scrollbar-thumb {
  background: rgb(75, 67, 67);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(238, 128, 128);
}